<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>How to get in touch</h1>
            <p class="lead">
                The best way to get in touch is to email <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>
            </p>
            <p class="xlead">
                As a backup address, you can also reach me via <a href="mailto:iaincollins@me.com">iaincollins@me.com</a>
            </p>
            <h2>You can find me on</h2>
            <ul class="fa-ul">
                <li><h3><a href="http://twitter.com/iaincollins"><i class="fa fa-li fa-twitter"></i> Twitter</a></h3></li>
                <li><h3><a href="http://github.com/iaincollins"><i class="fa fa-li fa-github"></i> GitHub</a></h3></li>
                <li><h3><a href="http://stackoverflow.com/users/28884/iain-collins"><i class="fa fa-li fa-stack-overflow"></i> Stack Overflow</a></h3></li>
                <li><h3><a href="http://uk.linkedin.com/in/iaincollins"><i class="fa fa-li fa-linkedin"></i> LinkedIn</a></h3></li>
                <li><h3><a href="https://www.facebook.com/iain.collins.169"><i class="fa fa-li fa-facebook"></i> Facebook</a></h3></li>
                <li><h3><i class="fa fa-li fa-skype"></i> Skype (iain.collins)</h3></li>
            </ul>
            <h2><a href="https://github.com/iaincollins.keys"><i class="fa fa-key"></i> My Public SSH Key</a></h2>
            <br/>
            <pre>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA1ozoE8pePIaPq3Zemz37zAmjoMs9ErofcadevXtHgy88GhrjHCe1aImwA9qWOoKJuJv0bdgA6iJrSuqgZUTU4MkKkibDlMJbcmqL/hzmtg9v0Nmsasq9HNmAn0omkZn8uEta3TVfspolkKik7RrdnwBvK9ebNQJpoq9FZswaO6kOar2R3HHlo0HxreiAut4ehpf+W490QnayDnuQ/cFb3SKIStd5xfeEn9+tZ1KilLEMIIlOiJN5a4m27WTSVk1qMOixZdCJmb6jF3Gx/sTwxle2d4bhJ9LdxDhr7zMogP7eeiETX0uPVAT+qx4IxFcpcu4c9MqrUxE7KO7ZY9HUvQ==</pre>
        </div>
    </div>
</div>
