<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>How to get in touch</h1>
            <p class="lead">
                The best way to get in touch is to email me at <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>
            </p>
            <h2>You can also find me on</h2>
            <ul class="fa-ul">
                <li><h3><a href="http://twitter.com/iaincollins"><i class="fa fa-li fa-twitter"></i> Twitter</h3></a></li>
                <li><h3><a href="http://github.com/iaincollins"><i class="fa fa-li fa-github"></i> GitHub</h3></a></li>
                <li><h3><a href="http://stackoverflow.com/users/28884/iain-collins"><i class="fa fa-li fa-stack-overflow"></i> Stack Overflow</h3></a></li>
                <li><h3><a href="http://uk.linkedin.com/in/iaincollins"><i class="fa fa-li fa-linkedin"></i> LinkedIn</h3></a></li>
                <li><h3><a href="https://www.facebook.com/iain.collins.169"><i class="fa fa-li fa-facebook"></i> Facebook</h3></a></li>

            </ul>
        </div>
    </div>
</div>
