<div class="container container-main">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="hide">The personal website of Iain Collins</h1>
            <h2>Cross platform, full stack software developer</h2>
            <br/>
            <p class="lead">
                Recently I've been working with and thinking a lot about <a href="http://feedback.public-scrutiny-office.org">Parliament APIs</a>,
                <a href="http://rewiredstate.org/hacks/FCOhack2014">Foreign Office Data</a> and looking forward to the 
                <a href="http://rewiredstate.org/hacks/nhtg14">National Hack The Government 2014</a> weekend in March.
            </p>
            <p class="lead">
                I'm currently tinkering with <a href="http://inkrato.com">inkrato</a> and some open source projects, while looking for
                interesting work. If you're working on something interesting and you'd like to hire me (or would like to collaborate) you can reach me at <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>.
            </p>
            <div class="logos text-center hidden">
                <a href="http://inkrato.com"><img src="/img/logos/inkrato.png" alt="inkrato company logo"/></a>
                <a href="http://sales.talktalk.co.uk"><img src="/img/logos/talktalk.png" alt="TalkTalk company logo"/></a>
                <a href="http://sky.com"><img src="/img/logos/bskyb.png" alt="BSkyB company logo"/></a>
                <a href="http://sme.vodafone.co.uk/"><img src="/img/logos/thus.png" alt="Thus company logo"/></a>
            </div>
            <br/>
        </div>
        <div class="col-sm-2">
            <img src="/img/me.jpg" class="pull-right img-responsive" alt="Photograph of Iain Collins" />
        </div>
    </div>
</div>