<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/me.jpg" style="height: 96px; width: 96px;" class="pull-right img-roundeds" alt="Photograph of Iain Collins" />
            <h1>Cross platform, full stack software developer</h1>
            <br/>
            <h3>What makes me tick</h3>
            <p class="lead">
                I'm interested in open software, open data (especially public sector data) and data driven journalism and how all three
                can improve our society. I'm also interested in better reprepsentation and increased public participation in government.
            </p>
            <p class="lead">
                I'm happy writing code in several languages but I've been <a href="http://osrc.dfm.io/iaincollins">writing a lot in node.js recently</a>.
            </p>
            <h3>What I'm up to</h3>
            <p class="lead">
                I'm currently working in <a href="http://bbcnewslabs.co.uk">BBC News Labs</a> on "<em>The Juicer</em>" and looking forward to #NewsHack 2014 on the 1st-2nd May (in Glasgow, Dublin).
            </p>
            <p class="lead">
                Thanks to <a href="http://rewirestate.org">RewiredState</a> for inviting me to head up <a href="http://rewiredstate.org/hacks/nhtg14">National Hack The Government</a>
                in Scotland this year, and thanks to everyone who came - I had a great time and it was lovely to meet you all.
            </p>
            <p class="lead">
                Thanks also to the Foreign and Commonwealth Office for the invite to Paris for #BE200, the reception at the Embassy was most impressive!
            </p>
            <p class="lead">
                I'm thinking about how to help feedback to <a href="http://www.digitalgovernmentreview.org.uk">Labour's Digital Government Review</a>, from a non-partisan perspective.
                There are folks with some really good insights there and a very sold turnout at the last meetup! Thanks to everyone who came.
            </p>
            <p class="lead">
                You can get in touch with me via <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>.
            </p>
        </div>
    </div>
</div>