<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/me.jpg" style="height: 96px; width: 96px;" class="pull-right img-roundeds" alt="Photograph of Iain Collins" />
            <h1>Cross platform, full stack software developer</h1>
            <br/>
            <p class="lead">
                Recently I've been working with and thinking a lot about how people can better engage with 
                <a href="http://public-scrutiny-office.org">Parliament</a> and ways in which 
                <a href="http://rewiredstate.org/hacks/FCOhack2014">Foreign Office</a> data (and other global data sets) <a href="http://api.tinata.co.uk">can be leveraged</a>.
            </p>
            <p class="lead">
                I'm looking forward to being the center lead for <a href="http://rewiredstate.org/hacks/nhtg14">National Hack The Government 2014</a>
                in Scotland. If you can make it to Glasgow on 8-9th March I'd love to see you there!
            </p>
            <p class="lead">
                I'm interested in open software, open data (especially public sector data) and data driven journalism and how all three
                can improve our society.
            </p>
            <p class="lead">
                I'm happy writing code in several languages but I've been <a href="http://osrc.dfm.io/iaincollins">writing a lot in JavaScript recently</a>.
            </p>
            <p class="lead">
                You can get in touch with me via <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>.
            </p>
        </div>
    </div>
</div>