<div class="container container-main">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="hide">The personal website of Iain Collins</h1>
            <h2>Cross platform, full stack software developer</h2>
            <br/>
            <p class="lead">
                I'm currently working on <a href="http://inkrato.com">inkrato</a> and a number of open source projects.
            </p>
            <p class="lead">
                If you have an interesting project and you'd like to hire me (or collaborate on something,
                especially if it's an open source project) you can reach me at <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>.
            </p>
            <br/>
            <br/>
            <div class="logos text-center">
                <a href="http://inkrato.com"><img src="/img/logos/inkrato.png" alt="inkrato company logo"/></a>
                <a href="http://sales.talktalk.co.uk"><img src="/img/logos/talktalk.png" alt="TalkTalk company logo"/></a>
                <a href="http://sky.com"><img src="/img/logos/bskyb.png" alt="BSkyB company logo"/></a>
                <a href="http://sme.vodafone.co.uk/"><img src="/img/logos/thus.png" alt="Thus company logo"/></a>
            </div>
        </div>
        <div class="col-sm-2">
            <img src="/img/me.jpg" class="pull-right img-responsive" alt="Photograph of Iain Collins" />
        </div>
    </div>
</div>