<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <img src="/img/me.jpg" style="height: 96px; width: 96px;" class="pull-right img-roundeds" alt="Photograph of Iain Collins" />
            <h1>Cross platform, full stack digital hackery</h1>
            <p class="lead">Last updated March 27th, 2014</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h2>What I'm up to</h2>
            <p class="lead">
                I'm currently working in <a href="http://bbcnewslabs.co.uk">BBC News Labs</a> on "<em>The Juicer</em>" and helping with <a href="https://www.hackerleague.org/hackathons/newshack-2014">#newsHACK</a>.
            </p>
            <p class="lead">
                I was really impressed with the recent sneak preview of what the folks at Parliament have planned for data.parliament.uk and looking forward to seeing it live soon. #parliamentapi
            </p>
            <p class="lead">
                Recently I've been thinking about how to feedback to <a href="http://www.digitalgovernmentreview.org.uk">Labour's Digital Government Review</a>.
                There are folks with some really good insights there and very sold turnout at recent meetups and I've been most impressed with the quality of contribution.
            </p>
            <p class="lead">
                Thanks to <a href="http://rewirestate.org">RewiredState</a> for inviting me to head up <a href="http://rewiredstate.org/hacks/nhtg14">National Hack The Government</a>
                in Scotland this year, and thanks to everyone who came - I had a great time and it was lovely to meet you all.
            </p>
            <p class="lead">
                Thanks also to the Foreign and Commonwealth Office for the invite to Paris for #BE200, the reception at the Embassy was most impressive!
            </p>
            <p class="lead">
                You can get in touch with me via <a href="mailto:me@iaincollins.com">me@iaincollins.com</a>.
            </p>
        </div>
        <div class="col-sm-3">
            <h2>About me</h2>
            <p>
                I'm interested in open software, open data (especially public sector data) and data driven journalism and how all three
                can improve our society.
            </p>
            <p>
                I'm also interested in better public representation and increased public participation in government.
            </p>
            <p>
                I'm happy writing code in several languages but I've been <a href="http://osrc.dfm.io/iaincollins">writing a lot in node.js recently</a>.
            </p>
        </div>
    </div>
</div>