<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>Page not found</h1>
            <p class="lead">
                Couldn't find the page you asked for
            </p>
        </div>
    </div>
</div>
