<div class="container container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Things I've been working on
            </h1>
            <p class="lead">
                Silly things I've been doing for fun - not related to commercial work for the BBC/TalkTalk/AOL/Sky/etc.
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <a href="http://public-scrutiny-office.org"><img src="/img/screenshots/pso.png" class="img-responsive img-rounded" alt="Public Scutiny Office"/></a>
            </p>
            <p>
                <a href="http://public-scrutiny-office.org"><i class="fa fa-external-link"></i> website</a>
            </p>
            <p class="clearfix">
                <a href="https://github.com/iaincollins/public-scrutiny-office"><i class="fa fa-github"></i> source</a>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">Public Scutiny Office</h2>
            <p class="lead">
                A <a href="http://hacks.rewiredstate.org/events/uk-parliament-hack-21013">winning hack</a> created during Parliament Hack
            </p>
            <p>
                Opens up Bills before Parliment for public scrutiny, allowing members of the public comment and vote on them.
            </p>
            <p>
                The data gathered is also exposed as via API, making it easy to access the full raw text of a bill as JSON (with metadata) or as plain text or just the raw HTML so it can be used in other applications.
            </p>
            <p class="clearfix">
                <span class="label label-info">node.js</span> <span class="label label-info">MongoDB</span> <span class="label label-info">JavaScript</span> <span class="label label-info">API</span> <span class="label label-info">JSON</span> <span class="label label-info">Bootstrap</span>
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <a href="http://feedback.public-scrutiny-office.org"><img src="/img/screenshots/pso-feedback.png" class="img-responsive img-rounded" alt="parliament.uk feedback"/></a>
            </p>
            <p>
                <a href="http://feedback.public-scrutiny-office.org"><i class="fa fa-external-link"></i> website</a>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">parliament.uk feedback</h2>
            <p class="lead">
                Community driven feedback on parliament.uk API's
            </p>
            <p>
                Recently myself and a number of other interested developers were invited to Parliament to discuss APIs and open data. I've created
                somewhere people can collaborate together to create a "wishlist", discuss ideas and post feedback.
            </p>
            <p class="clearfix">
                <span class="label label-info">PHP</span> <span class="label label-info">MySQL</span> <span class="label label-info">JavaScript</span> <span class="label label-info">Bootstrap</span>
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <a href="http://api.tinata.co.uk"><img src="/img/screenshots/tinatapi.png" class="img-responsive img-rounded" alt="Tinatapi"/></a>
            </p>
            <p>
                <a href="http://api.tinata.co.uk"><i class="fa fa-external-link"></i> website</a>
            </p>
            <p>
                <a href="https://github.com/tinata/tinatapi"><i class="fa fa-github"></i> source</a>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">Tinatapi</h2>
            <p class="lead">
                A <a href="http://hacks.rewiredstate.org/events/fcohack">winning hack</a> created during the Foreign &amp; Commonwealth Office Hack
            </p>
            <p>
                Tinatapi is a platform that provides REST+JSON API access to an expanding list of open datasets.
            </p>
            <p>
                Includes data from the Foreign &amp; Commonwealth Office to the CIA World Factbook, the World Bank, Wikipedia and other sources that weren't previously accessible via API.
            </p>
            <p>
                The site supports fuzzy lookups includes examples of how to compare and display the data on a map (and geodata to assist with mapping).
            </p>
            <p class="clearfix">
                <span class="label label-info">node.js</span> <span class="label label-info">MongoDB</span> <span class="label label-info">JavaScript</span> <span class="label label-info">API</span> <span class="label label-info">Angular</span> <span class="label label-info">JSON</span> <span class="label label-info">Bootstrap</span>
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <a href="http://planetside-tracker.com"><img src="/img/screenshots/pst.png" class="img-responsive img-rounded" alt="PlanetSide Tracker"/></a>
            </p>
            <p>
                <a href="http://planetside-tracker.com"><i class="fa fa-external-link"></i> website</a>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">PlanetSide Tracker</h2>
            <p class="lead">
                Community driven feedback platform
            </p>
            <p>
                Part forum and part bug tracker, PlanetSide Tracker is player driven feedback platform, driven by fans of the MMO PlanetSide 2.
                Since it's creation, Sony have embraced community driven development by implmenting a similar, offical system of their own.
            </p>
            <p class="clearfix">
                <span class="label label-info">PHP</span> <span class="label label-info">MySQL</span> <span class="label label-info">JavaScript</span> <span class="label label-info">Bootstrap</span>
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <img src="/img/screenshots/atc.png" class="img-responsive img-rounded" alt="Air Travel Complaints"/>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">Air Travel Complaints</h2>
            <p class="lead">
                A winning hack created in Paris as part of the #BE200 celebrations in March 2014.
            </p>
            <p>
                Enabling travellers to share their experiences of different airports and operators with the world, and allowing
                operators to respond and intervene when things go wrong.
            </p>
            <p class="clearfix">
                <span class="label label-info">JavaScript</span> <span class="label label-info">meteor</span> <span class="label label-info">Bootstrap</span>
            </p>
        </div>
    </div>
    <p><br/></p>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <img src="/img/screenshots/desktopradio-icon.png" class="img-responsive img-rounded" alt="Tinatapi"/>
            </p>
        </div>
        <div class="col-sm-9">
            <h2 style="margin-top: 0;">DesktopRadio</h2>
            <p class="lead">
                A retro desktop radio for Mac OS X
            </p>
            <p>
                DesktopRadio allowed people to listen to BBC Radio stations on their desktop with an interface that
                looked (and sounded like) an old Roberts radio. It featured a classic bulb-lit channel selector and analog radio sound effects.
            </p>
            <p>
                It reached the top 10 downloads on the week on <a href="http://www.apple.com/downloads/dashboard/radio_podcasts/desktopradio.html">apple.com</a>.
            </p>
            <p>
                Unfortunately it's no longer available for download as I haven't had time to support it.
            </p>
            <p class="clearfix">
                <span class="label label-info">Mac OS X</span>
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead text-center">
                You can find libraries, modules and other projects I've been working on or contributing to on <a href="http://github.com/iaincollins"><i class="fa fa-github"></i> GitHub</a>.
            </p>
        </div>
    </div>
</div>